@keyframes rotate {
  to {
    transform: rotate(-360deg)
  }
}

/* #continents path {
  animation: rotate 2s linear;
  animation-iteration-count: infinite;
  stroke: red;
  border: 2px solid red;
} */

#terra {
  animation: rotate 3s linear;
  animation-iteration-count: infinite;
}

.wrapper {
  width: 200px;
  height: 200px;
}

/* .cls-1 {
  fill: #281991;
}

.cls-1,
.cls-2 {
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 6px;
}

.cls-2 {
  fill: #65c10e;
} */